<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
<bean id="smartJog" class="org.openedit.entermedia.smartjog.SmartJog" lazy-init="false" singleton="true">
		<property name="pageManager">
			<ref bean="pageManager" />
		</property>
		
	</bean>
</beans>